/*
 * Some helper classes
 */

.emptyHeader {
    height:100px;
}

html, body {
    height: 100%;
}
.match-parent {
    min-height: 100%;
}
.media-body {
    width: 100%;
}
.avatar {
    
    margin-bottom:20px;
    padding-left:5px;
    
    .avatar-small {
        width:45px;
        margin-right:10px;
    }
}

.avatar-nav {
    height:22px;
}

.time-line {
    
    min-height:100%;
    
    .avatar-timeline {
        width: 45px;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

.backdrop {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:300px;
    z-index: -100;
    background-position: center;
    background-size: cover;
    box-shadow: 0px -40px 100px 0px black inset;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
}

.offset {
    margin-top:150px;
}

.letter-header {
    background-color: #EEE;
    padding: 1px;
    padding-left: 10px;
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
}