.emptyHeader {
    height:100px;
}

html, body {
    height: 100%;
}
.match-parent {
    min-height: 100%;
}

.avatar {
    
    margin-bottom:20px;
    padding-left:5px;
    
    .avatar-small {
        width:45px;
        margin-right:10px;
    }
}

.time-line {
    
    min-height:100%;
    
    .avatar-timeline {
        width: 45px;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}