/*
 * Some helper classes
 */

.emptyHeader {
    height:100px;
}

.bg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:250px;
    z-index: -100;
    background-position: center;
    background-size: cover;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
}

.offset {
    margin-top:150px;
}