/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dec-2014, 19:09:16
    Author     : tomas
*/

.event {
    
    padding-top: 90px;
    
    h1, small{
        color:white;
        text-shadow:0 0 5px #000;
        margin-top:60px;
    }
    
    header {
        padding-top: 100px;
    }
    
    .event-ava {
        width:150px;
        margin-right:20px;
    }
    
    .rsvp {
        margin-top:60px;
    }
}