#big-search-results {
  background-color: #f8f8f8;
  position: absolute;
  padding: 10px;
  padding-top: 49px;
  z-index: -1;

  border: 1px #e7e7e7 solid;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .search-results {

    div+small {
      padding-top: 20px;
      display: block;
    }

    .search-res {
      display: block;
      color: #5A5A5A;

      img {
        height: 50px;
        float: left;
      }
    }
  }
}